<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/8194adac84.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../../public/styles/reset.css" />
    <link rel="stylesheet" href="../../public/styles/header.css" />
    <link rel="stylesheet" href="../../public/styles/colors.css" />
    <link rel="stylesheet" href="../../public/styles/main.css" />
    <link rel="stylesheet" href="../../public/styles/second-main.css" />
    <link rel="stylesheet" href="../../public/styles/third-main.css" />
    <link rel="stylesheet" href="../../public/styles/fourth-main.css">
    <title>Sorveteria Nevasca</title>
  </head>
  <body>
    <header>
      <ul class="header-list">
        <li>
          <a href="#home"><i class="fa-solid fa-house"></i></a>
        </li>
        <li>
          <a href="#nevasca">Nevasca</a>
        </li>
        <li>
          <a href="#produtos">Produtos</a>
        </li>
        <li>
          <a href="#historia">História</a>
        </li>
      </ul>
      <img
        class="header-logo"
        src="../../public/imgs/floco-neve-logo.webp"
        alt="Logo Floco de Neve"
      />
      <ul class="header-list">
        <li>
          <a href="">Loja</a>
        </li>
        <li>
          <a href="">Contato</a>
        </li>
        <li>
          <a href="">Sabores</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
      </ul>
    </header>
    <main>
      <div class="main-background" id="home">
        <div class="main-container">
          <a href="#"><i class="fa-solid fa-arrow-left"></i></a>
          <div class="main-description-container">
            <h2>SORVETE PARA TODA FAMÍLIA</h2>
            <h4>Mais de 20 sabores esperam por você!</h4>
          </div>
          <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="second-main" id="nevasca">
        <div class="second-main-description">
          <h2>SORVETE NEVASCA</h2>
          <h5 class="second-main-description-subtitle">Tradição e Qualidade</h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias,
            explicabo quasi beatae debitis voluptatum corporis fugiat ipsam
            consequuntur odio enim consequatur doloremque aspernatur dicta
            impedit, in architecto natus aperiam hic! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Aliquam inventore tempora, adipisci
            aperiam cumque enim dicta alias porro, deserunt officia sed non
            similique quas numquam et nulla, eius nisi. Reiciendis. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Aut quaerat architecto
            vitae, obcaecati dolores odit sit suscipit possimus velit non
            veritatis molestias voluptatibus doloribus nemo adipisci eius
            aperiam asperiores dolore?
          </p>
        </div>
      </div>
      <div class="third-main" id="historia">
        <section class="third-main-first-section">
          <h2>História</h2>
          <i class="fa-solid fa-quote-left"></i>
          <div class="space-text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
              sunt id error neque, nemo laboriosam enim voluptate quibusdam
              mollitia iusto ab ut non consectetur at dolore veritatis veniam
              quod facere!
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis,
              perspiciatis. Molestiae eaque aspernatur voluptatem deleniti.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur quis ut accusamus nam veritatis aliquam error harum,
              totam labore placeat laborum fugiat doloribus facere fugit,
              reiciendis neque consequuntur aperiam corporis.
            </p>
          </div>
        </section>
        <section class="third-main-first-section">
          <h2>Compromisso com o Cliente</h2>
          <i class="fa-solid fa-quote-left"></i>
          <div class="space-text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
              sunt id error neque, nemo laboriosam enim voluptate quibusdam
              mollitia iusto ab ut non consectetur at dolore veritatis veniam
              quod facere!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
              error labore veritatis est sunt itaque nisi nam accusantium hic
              harum tenetur qui officiis, id a velit numquam quam iste eaque!
            </p>
          </div>
        </section>
      </div>
      <div class="fourth-main" id="produtos">
        <div class="fourth-main-title">
          <h2>PRODUTOS</h2>
        </div>
        <div class="fourth-main-container">
          <div class="fourth-main-content">
            <img src="../../public/imgs/potesorvete.jpg" alt="" />
            <a href="">SORVETES</a>
          </div>
          <div class="fourth-main-content">
            <img src="../../public/imgs/picole.png" alt="" />
            <a href="">PICOLÉS</a>
          </div>
          <div class="fourth-main-content">
            <img src="../../public/imgs/açai.webp" alt="" />
            <a href="">AÇAÍ</a>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
