<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/8194adac84.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../../public/styles/reset.css" />
    <link rel="stylesheet" href="../../public/styles/header.css" />
    <link rel="stylesheet" href="../../public/styles/colors.css" />
    <link rel="stylesheet" href="../../public/styles/main.css" />
    <link rel="stylesheet" href="../../public/styles/second-main.css">
    <title>Sorveteria Nevasca</title>
  </head>
  <body>
    <header>
      <ul class="header-list">
        <li>
          <a href="#"><i class="fa-solid fa-house"></i></a>
        </li>
        <li>
          <a href="#second-main">Nevasca</a>
        </li>
        <li>
          <a href="">Produtos</a>
        </li>
        <li>
          <a href="">História</a>
        </li>
      </ul>
      <img
        class="header-logo"
        src="../../public/imgs/floco-neve-logo.webp"
        alt="Logo Floco de Neve"
      />
      <ul class="header-list">
        <li>
          <a href="">Loja</a>
        </li>
        <li>
          <a href="">Contato</a>
        </li>
        <li>
          <a href="">Sabores</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
      </ul>
    </header>
    <main>
      <div class="main-background">
        <div class="main-container">
            <a href="#"><i class="fa-solid fa-arrow-left"></i></a>
          <div class="main-description-container">
            <h2>SORVETE PARA TODA FAMÍLIA</h2>
            <h4>Mais de 20 sabores esperam por você!</h4>
          </div>
          <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="second-main">
        <div class="title">
            <h2>SORVETE NEVASCA</h2>
        </div>
      </div>
    </main>
    <footer>

    </footer>
  </body>
</html>
