<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles/reset.css">
    <link rel="stylesheet" href="../../public/styles/colors.css">
    <link rel="stylesheet" href="../../public/styles/header.css">
    <link rel="stylesheet" href="../../public/styles/main.css">
    <link rel="stylesheet" href="../../public/styles/footer.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Ice Frost Club</h1>
        <div class="header-logo-container">       
            <h2>Conheça</h2> 
            <img class="head-logo" src="../../public/images/logo-sorvete.png" alt="Logo Sorveteria">
            <h2>Saboreie</h2>
        </div>
        <h1>Melhor sorvete da região</h3>
    </header>
    <main>
        <div class="main-description-container">
            <div class="main-list-container">
                <ul>
                    <li>
                        Qualidade
                    </li>
                    <li>
                        Compromisso
                    </li>
                    <li>
                        Fidelidade
                    </li>
                </ul> 
            </div>
            <div class="main-text">
                <h3>Nossa História</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi temporibus corporis error laboriosam rerum quidem dolore dignissimos ipsam delectus ad ab pariatur libero, reprehenderit, obcaecati voluptate, saepe iusto unde ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, beatae? Voluptate quo culpa qui natus, ullam dolorem, consequatur ipsa repellendus dicta delectus, hic rem nostrum eius. Cum officiis aspernatur maiores!</p>
            </div>
        </div>
        <div>
            <img class="sorvete-main" src="../../public/images/sorvete-main.jpeg" alt="Sorvete Self-service">
        </div>
    </main>
    <footer>
        <div class="footer-description">
            <ul>
                <li>
                    Ligue: (22) 2525-2525
                </li>
                <li>
                    Localização: Parque Josélio 283
                </li>
                <li>
                    Parcerias
                </li>
                <li>
                    Desde 2018
                </li>
                <li>
                    Nathan Dias
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>