.main-background {
    width: 100%;
    height: 932px;
    background-image: url(../../public/imgs/background-sorvete2.webp);
}

.main-container {
    height: 932px;
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.main-container a{
    color: white;
    background-color: brown;
    padding: 10px 12px;
    border-radius: 50%;
}

.main-description-container {
    font-size: 28px;
    text-align: center;
}