.third-main {
    width: 100%;
    height: 932px;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.third-main i{
    color: brown;
}

.third-main-first-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 26px;
    width: 800px;
}

.space-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}