<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles/reset.css" />
    <link rel="stylesheet" href="../../public/styles/header.css" />
    <link rel="stylesheet" href="../../public/styles/main.css" />
    <link rel="stylesheet" href="../../public/styles/footer.css" />

    <title>Aula 01</title>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <h1>Fluminense</h1>
        <h3>Footbal Club</h3>
      </div>
      <ul>
        <a href="formacao.html">
          <li>História</li>
        </a>
        <a href="cadastro.html">
          <li>Cadastre</li>
        </a>
        <a href="https://sociofutebol.com.br/?gclid=CjwKCAjwpqCZBhAbEiwAa7pXeSlVSHIV_v2OBpbaQJjEWDU25aqTfU5bu_ITEx4W7wcEbtn5O9KyURoCCkYQAvD_BwE" target="_blank">
          <li>Seja Sócio</li>
        </a>
      </ul>
    </header>
    <main>
      <div class="main-description">
        <h3 class="main-subtitle">Descrição</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id rem
          voluptatum nulla neque, praesentium deleniti dolorem dignissimos
          laboriosam incidunt sapiente. Incidunt maxime accusantium fugiat ullam
          quibusdam eaque optio quam adipisci.lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Lorem ipsum dolor sit ame.
        </p>
      </div>

      <img class="main-img" src="../../public/imgs/Faustão.jpg" />
    </main>
    <footer>CopyRight is licensed! Nathan</footer>
  </body>
</html>
