<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles/reset.css">
    <link rel="stylesheet" href="../../public/styles/header.css">
    <link rel="stylesheet" href="../../public/styles/main.css">
    <link rel="stylesheet" href="../../public/styles/main-second.css">
    <link rel="stylesheet" href="../../public/styles/footer.css">

    <title>Florest</title>
  </head>
  <body>
    <header>
      <nav class="header-nav">
        <img src="../../public/images/logo-florest.png" alt="Logo Florest" class="header-logo" />
        <ul>
          <li>
            <a href="Home">HOME</a>
          </li>
          <li>
            <a href="Corporation">CORPORATION</a>
          </li>
          <li>
            <a href="Donate">DONATE</a>
          </li>
          <li>
            <a href="Support">SUPPORT</a>
          </li>
          <li>
            <a href="Blog">BLOG</a>
          </li>
        </ul>
      </nav>
      <div class="header-menu">
        <button>LOG IN</button>
        <button>SIGN UP</button>
      </div>
    </header>
    <main>
      <div class="main-first">
        <h2>TRAVELLING WITHOUT LEAVING THE PLACE</h2>
        <h5>the best place to travel the way you like</h5>
      </div>
      <div class="main-second">
        <div class="main-second-container-first">
            <img class="img-plane" src="../../public/images/plane.png" alt="Plane">
          <div class="main-second-container-first-description">
            <h6>RESONSIBILITY & COMMITMENT</h6>
            <h2>Customer service that is ready to help you succeed</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quam similique soluta, culpa accusantium laboriosam illum, deleniti rem impedit hic quas voluptatem ad nobis quod amet ipsam distinctio, velit architecto?</p>
            <div class="main-second-buttons">
              <button>ASD</button>
              <button>DSA</button>
            </div>
          </div>
        </div>
        <div class="main-second-container-second">

        </div>
      </div>
    </main>
    <footer>

    </footer>
  </body>
</html>
