.main-second {
  height: 800px;
  background-color: rgb(255, 255, 255);
}

.img-florests {
  width: 20%;
  height: 84%;
  border-radius: 2%;
}

.main-second-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background-color: #fff;
}

.main-second-imgs {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2%;
  background-color: rgba(58, 58, 58, 0.151);
}
.main-second-container-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  width: 40%;
  height: 50%;
  text-align: center;
}

.main-second-container-description h6 {
  font-size: 16px;
}

.main-second-container-description h2 {
  font-size: 28px;
  font-weight: normal;
}

.main-second-container-description p {
  font-size: 18px;
  font-weight: lighter;
}

.main-second-buttons button {
  font-size: 14px;
  width: 120px;
  height: 40px;
  border-radius: 10%;
  cursor: pointer;
  border: 1px solid rgb(5, 58, 25);
  background-color: rgba(255, 255, 255, 0.575);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  color: rgb(0, 0, 0);
  transition: 0.45s;
  margin: 6px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-second-buttons button:hover {
  background-color: rgba(7, 68, 1, 0.973);
  color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1200px){
  .main-second-container-description{
    width: 70%;
  }
  .main-second-imgs {
    height: 30%;
    width: 100%;
    background-color: #fff;
  }
}

@media (max-width: 768px){
  .main-second-container-description{
    width: 94%;
  }

  .main-second-imgs {
    height: 32%;
    gap: 0;
  }

  .img-florests{
    width: 25%;
  }
}

@media (max-width: 510px) {
  .main-second-container-description p {
    font-size: 15px;
    font-weight: lighter;
  }

  .main-second-container-description h2{
    font-size: 23px;
  }

  .main-second-container-description h6 {
    font-size: 14px;
  }
}